<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:enableOnBackInvokedCallback="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment_paras"
        tools:targetApi="31">
        <!--Main activity-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- AddExpensesActivity  -->
        <activity
            android:name=".AddExpensesActivity"
            android:label="Add Expense"> <!-- label for  add activity -->
        </activity>
        <!-- ShowExpensesActivity  -->
        <activity
            android:name=".ShowExpensesActivity"
            android:label="Show all Expenses"> <!-- label for show expense activity -->
        </activity>
        <activity
            android:name=".EditExpensesActivity"
            android:label="Edit Expenses"> <!-- label for show expense activity -->
        </activity>
        <activity
            android:name=".ShowStatisticsActivity"
            android:label="Show Statistics on Expenses"> <!-- statistics activity -->
        </activity>

    </application>

</manifest>